<div>
  <img src="../../../assets/images/Logo/Logo-APJSS-Retangular-Reduz-Transp.png" alt="APJSS Logo" class="logo">
</div>
<div class="top-bar-container">
  <nav class="top-bar top-bar-1">
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/be-a-member" [ngClass]="{ 'active': selectedLink === 'be-a-member' }">
          <i class="fa fa-handshake"></i>
          <span class="sidebar-text">{{ 'be_a_member' | translate }}</span>
        </a>
      </li>
      <li class="menu-item">
        <!-- Facebook Link -->
        <a href="https://www.facebook.com/profile.php?id=100079437893126" target="_blank"
          style="text-decoration: none; color: inherit;">
          <span class="material-icons" style="vertical-align: middle; color: #000000;">facebook</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="mailto:apesalvadorampai@hotmail.com">
          <i class="fa fa-envelope"></i>
          <span class="sidebar-text">apesalvadorampai&#64;hotmail.com</span>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="top-bar top-bar-2">
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/" [ngClass]="{ 'active': selectedLink === 'home' }">
          <i class="fa fa-home"></i>
          <span class="sidebar-text">{{ 'home' | translate }}</span>
        </a>
      </li>
      <li class="menu-item">
        <a [ngClass]="{ 'active': selectedLink === 'who-are-we' }">
          <i class="fa fa-building"></i>
          <span class="sidebar-text">{{ 'who-are-we' | translate }}</span>
        </a>
        <div class="dropdown">
          <a routerLink="/who-are-we/governing-bodies"
            [ngClass]="{ 'active': selectedSubLink === 'governing-bodies' }">{{
            'who-are-we_dropdown.governing_bodies' | translate }}</a>
          <a routerLink="/who-are-we/statutes" [ngClass]="{ 'active': selectedSubLink === 'statutes' }">{{
            'who-are-we_dropdown.statutes' |
            translate }}</a>
        </div>
      </li>
      <li class="menu-item">
        <a [ngClass]="{ 'active': selectedLink === 'activity' }">
          <i class="fa fa-calendar"></i>
          <span class="sidebar-text">{{ 'activity' | translate }}</span>
        </a>
        <div class="dropdown">
          <a routerLink="/activity/events" [ngClass]="{ 'active': selectedSubLink === 'events' }">{{
            'activity_dropdown.events' |
            translate }}</a>
          <a routerLink="/activity/news-and-information"
            [ngClass]="{ 'active': selectedSubLink === 'news-and-information' }">{{
            'activity_dropdown.news-and-information' | translate
            }}</a>
          <a routerLink="/activity/protocols" [ngClass]="{ 'active': selectedSubLink === 'protocols' }">{{
            'activity_dropdown.protocols' |
            translate }}</a>
        </div>
      </li>
      <li class="menu-item">
        <a routerLink="/legislation" [ngClass]="{ 'active': selectedLink === 'legislation' }">
          <i class="fa fa-university"></i><span class="sidebar-text">{{ 'legislation' | translate }}</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/contacts" [ngClass]="{ 'active': selectedLink === 'contacts' }">
          <i class="fa fa-address-book"></i><span class="sidebar-text">{{ 'contacts' | translate }}</span>
        </a>
      </li>
      <li class="menu-item">
        <div class="logout-container" *ngIf="isLoggedIn()">
          <a (click)="logout()">
            <i class="fa fa-sign-out"></i><span class="sidebar-text">{{ 'auth.logout' | translate }}</span>
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="language-buttons"> <!-- Wrap buttons in this div -->
    <button (click)="switchLanguage('en')" class="language-button">
      <span class="fi fi-gb" aria-label="English"></span>
    </button>
    <button (click)="switchLanguage('pt')" class="language-button">
      <span class="fi fi-pt" aria-label="Portuguese"></span>
    </button>
  </div>
</div>
