<div class="top-bar-container">
  <nav class="top-bar top-bar-1">
    <ul class="menu">
      <li class="menu-item">
        <a href="mailto:g.n.p.amador@gmail.com">
          <i class="fa fa-question-circle"></i>
          <span class="sidebar-text">{{ 'support' | translate }}</span>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="top-bar top-bar-2">
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/" [ngClass]="{ 'active': selectedLink === 'home' }" (click)="setSelectedLink('home')">
          <i class="fa fa-home"></i>
          <span class="sidebar-text">{{ 'home' | translate }}</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/who-are-we" [ngClass]="{ 'active': selectedLink === 'who-are-we' }" (click)="setSelectedLink('who-are-we')">
          <i class="fa fa-building"></i>
          <span class="sidebar-text">{{ 'who-are-we' | translate }}</span>
        </a>
        <div class="dropdown">
          <a routerLink="/who-are-we/governing-bodies" [ngClass]="{ 'active': selectedLink === 'governing-bodies' }" (click)="setSelectedLink('governing-bodies')">{{ 'governing-bodies' | translate }}</a>
          <a routerLink="/who-are-we/statutes" [ngClass]="{ 'active': selectedLink === 'statutes' }" (click)="setSelectedLink('statutes')">{{ 'statutes' | translate }}</a>
        </div>
      </li>
      <li class="menu-item">
        <a href="#">
          <i class="fa fa-calendar"></i>
          <span class="sidebar-text">{{ 'activity' | translate }}</span>
        </a>
        <div class="dropdown">
          <a routerLink="/activity/events" [ngClass]="{ 'active': selectedLink === 'events' }" (click)="setSelectedLink('events')">{{ 'events' | translate }}</a>
          <a routerLink="/activity/news-and-information" [ngClass]="{ 'active': selectedLink === 'news-and-information' }" (click)="setSelectedLink('news-and-information')">{{ 'news-and-information' | translate }}</a>
          <a routerLink="/activity/protocols" [ngClass]="{ 'active': selectedLink === 'protocols' }" (click)="setSelectedLink('protocols')">{{ 'protocols' | translate }}</a>
        </div>
      </li>
      <li class="menu-item">
        <a routerLink="/contacts" [ngClass]="{ 'active': selectedLink === 'contacts' }" (click)="setSelectedLink('contacts')">
          <i class="fa fa-address-book"></i><span class="sidebar-text">{{ 'contacts' | translate }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
