.top-bar-container {
  display: flex;
  flex-direction: column;
  position: sticky; /* Makes the container stick to the viewport */
  top: 0; /* Ensures it stays at the top of the viewport */
  z-index: 1000; /* Ensures it appears above other content */
  width: 100%; /* Full width for the sticky element */
}

.top-bar {
  display: flex;
  align-items: center;
  color: white;
}

.top-bar-1 {
  background-color: #333;
  padding-left: 46%;
}

.top-bar-2 {
  background-color: #333;
  padding-left: 30%;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
  margin-right: 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.menu-item a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.menu-item i {
  margin-right: 10px;
}

.menu-item .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item .dropdown a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.menu-item .dropdown a:hover {
  background-color: #555;
}

.menu-item:hover {
  background-color: #666; /* Lighter gray background color on hover */
}

.menu-item:hover .dropdown {
  display: block; /* Show dropdown on hover */
}

.active {
  background-color: #666; /* Gray background for active link */
  color: white;
}
