.language-switcher {
  position: fixed; /* Fixes the switcher to a specific position */
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
  display: flex;
  gap: 10px;
  z-index: 1000; /* Ensure it appears above other components */
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.fi {
  font-size: 30px; /* Adjust size as needed */
  vertical-align: middle;
}
