<div class="language-switcher" [ngClass]="{'sidebar-closed': !sidebarVisible}">
  <img src="../../../assets/images/Logo/Logo-APJSS-Retangular-Reduz-Transp.png" alt="APJSS Logo" class="logo">
  <div class="language-buttons"> <!-- Wrap buttons in this div -->
    <button (click)="switchLanguage('en')" class="language-button">
      <span class="fi fi-gb" aria-label="English"></span>
    </button>
    <button (click)="switchLanguage('pt')" class="language-button">
      <span class="fi fi-pt" aria-label="Portuguese"></span>
    </button>
  </div>
</div>
