.language-switcher {
  position: fixed; /* Fixes the switcher to the top of the page */
  top: 0; /* Adjust top position as needed */
  left: calc(160px + 20px); /* Adjust left position based on sidebar width */
  width: calc(100% - 160px - 20px); /* Full width minus sidebar width */
  display: flex; /* Enable flexbox for alignment */
  align-items: center; /* Aligns the logo and buttons vertically */
  justify-content: space-between; /* Space out items to the edges */
  z-index: 1000; /* Ensure it appears above other components */
  height: 120px; /* Set a height for the top bar */
  background-color: rgba(255, 255, 255, 0); /* Set transparent background color */
  padding: 0 20px; /* Add some horizontal padding for spacing */

  &.sidebar-closed {
    left: calc(35px + 20px); /* Change left position when sidebar is closed */
    width: calc(100% - 35px - 20px); /* Adjust width based on closed sidebar */
  }
}

.language-buttons {
  display: flex; /* Use flexbox to keep buttons aligned */
  gap: 10px; /* Ensure no gap between buttons */
  align-items: center; /* Aligns buttons vertically */
  padding-right: 40px;
}

.language-button {
  background: none; /* No background for the button */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 0; /* No padding */
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.fi {
  font-size: 30px; /* Adjust size as needed */
  vertical-align: middle;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

/* Hover effect for the icons */
.language-button:hover .fi {
  transform: scale(1.3); /* Enlarge the icon slightly */
}

.logo {
  height: 90px; /* Adjust height as needed */
}
