.content-container {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 160px; /* Set the initial margin to the width of the open sidebar */
}

.content-container.sidebar-closed {
  margin-left: 35px; /* Adjust the left margin when the sidebar is hidden */
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.group-title {
  text-align: center;
  margin: 20px 0;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center items horizontally */
}

.contact-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center; /* Center image horizontally */
  margin-bottom: 10px;
}

.contact-details {
  text-align: center;
}
