<div class="contacts-container">
  <app-sidebar [sidebarVisible]="sidebarVisible" (sidebarVisibilityChange)="toggleSidebarVisibility($event)"></app-sidebar>

  <div class="content-container" [ngClass]="{'sidebar-closed': !sidebarVisible}">
    <app-language-switcher></app-language-switcher>
    <!--h1><i class="fa fa-address-book icon-spacing"></i><span>{{ 'contacts' | translate }}</span></h1-->
    <ul>
      <li *ngFor="let contact of contacts">
        <strong>{{ contact.name | translate }}</strong>
        <span *ngIf="contact.person">: {{ contact.person }}</span>
        <span *ngIf="contact.phone"> - {{ contact.phone }}</span>
        <span *ngIf="contact.email"> - <a [href]="'mailto:' + contact.email">{{ contact.email }}</a></span>
      </li>
    </ul>
  </div>
</div>
