<h1 mat-dialog-title>{{ 'EDIT_MEMBER_DATA' | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'ROLE' | translate }}</mat-label>
    <input matInput [(ngModel)]="contact.role" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'NAME' | translate }}</mat-label>
    <input matInput [(ngModel)]="contact.name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
    <input matInput [(ngModel)]="contact.email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
    <input matInput [(ngModel)]="contact.phoneNumber" />
  </mat-form-field>

  <div class="image-upload">
    <label>{{ 'CHANGE_IMAGE' | translate }}</label>
    <input type="file" (change)="onImageChange($event)" />
    <img *ngIf="contact.image" [src]="contact.image" alt="Contact Image" width="100" />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="cancel" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onSave()">{{ 'SAVE' | translate }}</button>
</div>
