<div class="calendar-container">
  <app-sidebar [sidebarVisible]="sidebarVisible" (sidebarVisibilityChange)="toggleSidebarVisibility($event)"></app-sidebar>
  <div class="content-container" [ngClass]="{'sidebar-closed': !sidebarVisible}">
    <app-language-switcher></app-language-switcher>

    <div class="month-year">
      <span (click)="moveMonth(-1)" class="arrow">&#10094;</span>
      <span id="monthText">{{ currentMonthYear.format('MMMM') | translate }} {{ currentMonthYear.format('YYYY') }}</span>
      <span (click)="moveMonth(1)" class="arrow">&#10095;</span>
    </div>

    <div id="calendar" class="calendar">
      <table>
        <tr>
          <th>{{ 'Sun' | translate }}</th>
          <th>{{ 'Mon' | translate }}</th>
          <th>{{ 'Tue' | translate }}</th>
          <th>{{ 'Wed' | translate }}</th>
          <th>{{ 'Thu' | translate }}</th>
          <th>{{ 'Fri' | translate }}</th>
          <th>{{ 'Sat' | translate }}</th>
        </tr>
        <tr *ngFor="let week of calendar">
          <td *ngFor="let day of week" [ngClass]="getDayClasses(day)" (click)="selectDate(day)">
            {{ day.format('D') }}
            <div *ngIf="events[day.format('YYYY-MM-DD')]">
              <ul>
                <li *ngFor="let event of events[day.format('YYYY-MM-DD')]">
                  <strong>{{ event.title }}</strong> - {{ event.description }}
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <!-- Button to open the event form dialog -->
    <button mat-raised-button color="primary" (click)="openAddEventFormDialog()">
      Add Event
    </button>
  </div>
</div>
