/* Calendar container styles */
.calendar-container {
  text-align: center;
  margin-bottom: 20px;
  padding: 16px;
}

/* Calendar styles */
.calendar {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

/* Table cell styles */
td {
  padding: 15px;
  text-align: center;
}

/* Table header styles */
th {
  padding: 15px;
}

/* Today styles */
.today {
  background-color: #ffd700;
  color: black;
}

/* Inactive styles */
.inactive {
  color: #ccc;
}

/* Controls styles */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Month-year styles */
.month-year {
  font-size: 48px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

/* Arrow styles */
.arrow {
  cursor: pointer;
  margin: 0 10px;
  color: #333;
}

/* Hover effect on arrow */
.arrow:hover {
  color: #555;
}

/* Holiday styles */
.holiday {
  background-color: #b0e57c; /* Green color for holidays */
  color: black;
}

/* Day with events */
.has-events {
  background-color: red; /* Highlight days with events in red */
  color: white;
}

/* Content container styles */
.content-container {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 160px; /* Set the initial margin to the width of the open sidebar */
}

/* Adjust content margin when sidebar is closed */
.content-container.sidebar-closed {
  margin-left: 35px; /* Adjust the left margin when the sidebar is hidden */
}

/* Event form styles */
.event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Form field styles */
mat-form-field {
  width: 100%;
  max-width: 500px;
  margin-bottom: 16px;
}

/* Button styles */
button {
  margin-top: 16px;
  font-size: 16px;
}


