<div class="home-container">
  <app-sidebar [sidebarVisible]="sidebarVisible" (sidebarVisibilityChange)="toggleSidebarVisibility($event)"></app-sidebar>
  <div class="content-container" [ngClass]="{'sidebar-closed': !sidebarVisible}">
    <app-language-switcher></app-language-switcher>

    <h1>{{ 'home_page.welcome' | translate }}</h1>

    <!-- Title for Latest News Section -->
    <h2 class="latest-news-title">{{ 'news_page.latest_news' | translate }}</h2>

    <!-- Carousel Container for Latest News -->
    <div class="carousel-container">
      <div class="carousel">
        <div class="carousel-item" *ngFor="let article of latestArticles; let i = index" [ngClass]="{'active': i === currentIndex}">
          <h3>{{ article.title }}</h3>
          <div [innerHTML]="article.content"></div>
          <small>{{ article.date }}</small>
        </div>
      </div>

      <!-- Navigation Arrows -->
      <button class="carousel-control prev" (click)="prevArticle()">&#10094;</button>
      <button class="carousel-control next" (click)="nextArticle()">&#10095;</button>

      <!-- Dot Indicators -->
      <div class="carousel-indicators">
        <span *ngFor="let article of latestArticles; let i = index" [ngClass]="{'active': i === currentIndex}" (click)="selectArticle(i)"></span>
      </div>
    </div>

    <!-- Title for Upcoming Events Section -->
    <h2 class="upcoming-events-title">{{ 'home_page.upcoming_events' | translate }}</h2>

    <!-- Carousel Container for Upcoming Events -->
    <div class="carousel-container" *ngIf="upcomingEvents.length > 0; else noEvents">
      <div class="carousel">
        <div class="carousel-item" *ngFor="let event of upcomingEvents; let i = index" [ngClass]="{'active': i === currentEventIndex}">
          <h3>{{ event.title }}</h3>
          <div [innerHTML]="event.description"></div>
          <small>{{ event.date }}</small>
        </div>
      </div>

      <!-- Navigation Arrows for Events -->
      <button class="carousel-control prev" (click)="prevEvent()">&#10094;</button>
      <button class="carousel-control next" (click)="nextEvent()">&#10095;</button>

      <!-- Dot Indicators for Events -->
      <div class="carousel-indicators">
        <span *ngFor="let event of upcomingEvents; let i = index" [ngClass]="{'active': i === currentEventIndex}" (click)="selectEvent(i)"></span>
      </div>
    </div>

    <ng-template #noEvents>
      <p>{{ 'home_page.no_upcoming_events' | translate }}</p>
    </ng-template>
  </div>
</div>
