.home-container {
  display: flex;
  height: 100vh;
}

.content-container {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 160px; /* Set the initial margin to the width of the open sidebar */

  /* Adjust content margin when sidebar is closed */
  &.sidebar-closed {
    margin-left: 35px;
  }
}

/* Carousel Container for Latest News */
.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.carousel-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.carousel-item {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

.carousel div[innerHTML] {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

.carousel small {
  color: #999;
  font-size: 0.9rem;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-container:hover .carousel-control {
  opacity: 1;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-indicators {
  text-align: center;
  margin-top: 15px;
}

.carousel-indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: black;
}

.latest-news-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

/* Styles for Upcoming Events Section */
.upcoming-events-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.event-item {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.event-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.event-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

.event-item small {
  color: #999;
  font-size: 0.9rem;
}
