<div class="login-container">
  <app-language-switcher [sidebarVisible]="false"></app-language-switcher>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'auth.login' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'auth.access_account' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput type="email" name="email" ngModel required>
          <mat-error *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
            {{ 'auth.error.valid_email' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'auth.password' | translate }}</mat-label>
          <input matInput type="password" name="password" ngModel required>
          <mat-error *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
            {{ 'auth.error.enter_password' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-error *ngIf="loginFailed" style="color: red;">
          {{ 'auth.error.invalid_email_password' | translate }}
        </mat-error>

        <button mat-raised-button color="primary" type="submit">{{ 'auth.login' | translate }}</button>
      </form>
      <a routerLink="/auth/password-recovery">{{ 'auth.forgot_password' | translate }}</a>
    </mat-card-content>
  </mat-card>
</div>
