<app-top-bar></app-top-bar>
<div class="events-container">
  <div class="content-container">
    <div class="month-year">
      <span (click)="moveMonth(-1)" class="arrow">&#10094;</span>
      <span id="monthText">
                {{ 'events_page.months.' + (currentMonthYear.getMonth()) | translate }} {{ currentMonthYear.getFullYear() }}
      </span>
      <span (click)="moveMonth(1)" class="arrow">&#10095;</span>
    </div>

    <div id="events" class="events">
      <table>
        <tr>
          <th>{{ 'events_page.weekdays.0' | translate }}</th>
          <th>{{ 'events_page.weekdays.1' | translate }}</th>
          <th>{{ 'events_page.weekdays.2' | translate }}</th>
          <th>{{ 'events_page.weekdays.3' | translate }}</th>
          <th>{{ 'events_page.weekdays.4' | translate }}</th>
          <th>{{ 'events_page.weekdays.5' | translate }}</th>
          <th>{{ 'events_page.weekdays.6' | translate }}</th>
        </tr>
        <tr *ngFor="let week of calendar">
          <td *ngFor="let day of week" [ngClass]="getDayClasses(day)" (click)="selectDate(day)">
            {{ day.getDate() }}
          </td>
        </tr>
      </table>
    </div>

    <!-- Legend section -->
    <div class="legend">
      <div class="legend-items">
        <div class="legend-item">
          <span class="color-box today"></span> {{ 'events_page.today' | translate }}
        </div>
        <div class="legend-item">
          <span class="color-box holiday"></span> {{ 'events_page.holiday' | translate }}
        </div>
        <div class="legend-item">
          <span class="color-box event"></span> {{ 'events_page.event.event' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
