<div class="password-recovery-container">
  <app-language-switcher [sidebarVisible]="false"></app-language-switcher>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'auth.password_recovery' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'auth.enter_recovery_password' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- Form to enter email and the encrypted recovery password -->
      <form *ngIf="!newPasswordSet && !recoveryVerified" (ngSubmit)="onSubmitRecovery()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>

        <mat-error *ngIf="emailInvalid" style="color: red;">
          {{ 'auth.error.email_not_found' | translate }} <!-- Update error message -->
        </mat-error>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{ 'auth.recovery_password' | translate }}</mat-label>
          <input matInput type="password" [(ngModel)]="recoveryPassword" name="recoveryPassword" required>
        </mat-form-field>

        <mat-error *ngIf="recoveryInvalid" style="color: red;">
          {{ 'auth.error.invalid_recovery_password' | translate }}
        </mat-error>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">{{ 'auth.verify_recovery_password' | translate
            }}</button>
        </div>
      </form>

      <!-- Show new password form after recovery password is validated -->
      <form *ngIf="recoveryVerified && !newPasswordSet" (ngSubmit)="onSetNewPassword()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{ 'auth.new_password' | translate }}</mat-label>
          <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">{{ 'auth.set_new_password' | translate }}</button>
        </div>
      </form>

      <!-- Display a message when the password has been successfully updated -->
      <mat-hint *ngIf="newPasswordSet" style="color: green;">
        {{ 'auth.password_updated' | translate }}
      </mat-hint>

      <div>
        <a routerLink="/auth/login">{{ 'auth.back_to_login' | translate }}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
