<div class="password-recovery-container">
  <app-language-switcher [sidebarVisible]="false"></app-language-switcher>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'auth.password_recovery' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'auth.enter_email_reset' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>

        <!-- Error message for email not found -->
        <mat-error *ngIf="emailNotFound" style="color: red;">
          {{ 'auth.error.email_not_found' | translate }}
        </mat-error>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">{{ 'auth.send_reset_link' | translate }}</button>
        </div>
      </form>

      <!-- Hint showing that the reset link has been sent -->
      <mat-hint *ngIf="resetRequested">{{ 'auth.reset_link_sent' | translate }}</mat-hint>
      <a routerLink="/auth/login">{{ 'auth.back_to_login' | translate }}</a>
    </mat-card-content>
  </mat-card>
</div>
