<div id="sidebar" [ngClass]="{'sidebar-closed': !sidebarVisible}" class="sidebar">
  <a (click)="toggleSidebar()" class="toggle-btn"><i class="fa fa-bars"></i></a>
  <a routerLink="/" (click)="changeColor('home')" [class.active]="selectedLink === 'home'">
    <i class="fa fa-home"></i><span class="sidebar-text" *ngIf="sidebarVisible">{{ 'HOME' | translate }}</span>
  </a>
  <a routerLink="/organization" (click)="changeColor('organization')" [class.active]="selectedLink === 'organization'">
    <i class="fa fa-building"></i><span class="sidebar-text" *ngIf="sidebarVisible">{{ 'ORGANIZATION' | translate }}</span>
  </a>
  <a routerLink="/news" (click)="changeColor('news')" [class.active]="selectedLink === 'news'">
    <i class="fa fa-book"></i><span class="sidebar-text" *ngIf="sidebarVisible">{{ 'NEWS' | translate }}</span>
  </a>
  <a routerLink="/calendar" (click)="changeColor('calendar')" [class.active]="selectedLink === 'calendar'">
    <i class="fa fa-calendar"></i><span class="sidebar-text" *ngIf="sidebarVisible">{{ 'CALENDAR' | translate }}</span>
  </a>
  <a routerLink="/contacts" (click)="changeColor('contacts')" [class.active]="selectedLink === 'contacts'">
    <i class="fa fa-address-book"></i><span class="sidebar-text" *ngIf="sidebarVisible">{{ 'CONTACTS' | translate }}</span>
  </a>
</div>
