.underConstruction {
  margin: 0px; // Ensure no default margin for the body
  padding-top: 100px; // Adjust this value to the height of the top-bar-container
}

.underConstructionImage {
  height: 600px;
  padding-left: 33%;
}
