.archive-sidebar {
  position: fixed;
  top: 10%;
  right: 0;
  width: 20%;
  height: 90%;
  /* Adjust height if needed */
  background-color: #f5f5f5;
  /* Adjust to match your theme */
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: column;

  /* Ensure content area takes available space */
  overflow-y: auto;
  /* Allow scrolling */
}

.archive-sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.archive-sidebar>div {
  flex-grow: 1;
  /* Take up remaining space */
}

.archive-sidebar button {
  margin-top: 20px;
  /* Space above the button */
  margin-bottom: 20px;
  /* Space below the button (if needed) */
}
