<h1 mat-dialog-title *ngIf="data.article">{{ 'EDIT_ARTICLE' | translate }}</h1>
<h1 mat-dialog-title *ngIf="!data.article">{{ 'ADD_ARTICLE' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="articleForm">
    <!-- Title Field -->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'TITLE' | translate }}</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="articleForm.get('title')?.hasError('required')">
        {{ 'TITLE_IS_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Content Field (Quill Editor) -->
    <app-quill-editor formControlName="content"></app-quill-editor>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="cancel" (click)="cancel()">{{ 'CANCEL' | translate }}</button>

  <!-- Only show the delete button if we are editing an existing article -->
  <button mat-raised-button color="warn" (click)="delete()" *ngIf="data.article">{{ 'DELETE_ARTICLE' | translate }}</button>

  <button mat-raised-button color="primary" (click)="save()">{{ 'SAVE' | translate }}</button>
</div>

