<app-top-bar></app-top-bar>
<div class="news-and-information-container">
  <app-news-and-information-archive-sidebar [archive]="archive" (archiveCleared)="handleArchiveCleared()"
    (articleSelected)="handleArticleSelection($event)"></app-news-and-information-archive-sidebar>
  <div class="content-container">
    <!-- Current and last 2 months Articles in Boxes -->
    <h2 class="recent-news-and-information-title">{{ 'news-and-information_page.recent_news-and-information' | translate
      }}</h2>

    <div *ngIf="recentArticles.length > 0; else noRecentNewsAndInformation">
      <div class="recent-news-and-information-grid">
        <div class="news-and-information-box" *ngFor="let article of displayedArticles"
          (click)="handleArticleClick(article)">
          <h3>{{ article.title }}</h3>
          <div [innerHTML]="article.content"></div>
          <small>{{ article.date }}</small>
        </div>
      </div>

      <!-- Pagination -->
      <mat-paginator [length]="recentArticles.length" [pageSize]="pageSize" [pageIndex]="currentPage"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>

    <ng-template #noRecentNewsAndInformation>
      <div class="no-content-message">
        <p>{{ 'news-and-information_page.no_recent_news-and-information' | translate }}</p>
      </div>
    </ng-template>

    <!-- Button for adding new article -->
    <div class="add-article-container" *ngIf="isAdminRoute">
      <button mat-raised-button color="primary" (click)="openEditArticleDialog(null)">
        {{ 'news-and-information_page.article.add' | translate }}
      </button>
    </div>
  </div>
</div>
