/* You can add global styles to this file, and also import other style files */
@import '~flag-icons/css/flag-icons.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  //font-family: 'Times New Roman', Times, serif;
  //font-family: Georgia, serif;
  //font-family: Garamond, serif;
  //font-family: Arial, Helvetica, sans-serif;
  //font-family: Helvetica, sans-serif;
  //font-family: Verdana, Geneva, sans-serif;
  //font-family: Tahoma, Geneva, sans-serif;
  //font-family: 'Trebuchet MS', Helvetica, sans-serif;
  //font-family: 'Courier New', Courier, monospace;
  //font-family: 'Lucida Console', Monaco, monospace;
  //font-family: Consolas, monospace;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  //font-family: Impact, Charcoal, sans-serif;
}

/* styles.scss */
button.mat-raised-button {
  //font-family: 'Times New Roman', Times, serif;
  //font-family: Georgia, serif;
  //font-family: Garamond, serif;
  //font-family: Arial, Helvetica, sans-serif;
  //font-family: Helvetica, sans-serif;
  //font-family: Verdana, Geneva, sans-serif;
  //font-family: Tahoma, Geneva, sans-serif;
  //font-family: 'Trebuchet MS', Helvetica, sans-serif;
  //font-family: 'Courier New', Courier, monospace;
  //font-family: 'Lucida Console', Monaco, monospace;
  //font-family: Consolas, monospace;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  //font-family: Impact, Charcoal, sans-serif;
}

button.mat-raised-button {
  padding: 8px 16px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
  border-radius: 4px; /* Rounded corners */
}

button.mat-raised-button[color='warn'] {
  background-color: #f44336; /* Red background for cancel button */
  color: white; /* White text */
}

button.mat-raised-button[color='primary'] {
  background-color: #3f51b5; /* Blue background for save button */
  color: white; /* White text */
}

button.mat-raised-button[color='cancel'] {
  background-color: #565658; /* Blue background for save button */
  color: white; /* White text */
}

.content-container {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 160px; /* Set the initial margin to the width of the open sidebar */

  &.sidebar-closed {
    margin-left: 35px;
  }
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;

  h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
  }

  div[innerHTML] {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
  }

  small {
    color: #999;
    font-size: 0.9rem;
  }
}

.carousel-item {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.active {
    display: block;
    opacity: 1;
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.prev {
    left: 10px;
  }

  &.next {
    right: 10px;
  }
}

.carousel-container:hover .carousel-control {
  opacity: 1;
}

.carousel-indicators {
  text-align: center;
  margin-top: 15px;

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: black;
    }
  }
}

