/* You can add global styles to this file, and also import other style files */
@import '~flag-icons/css/flag-icons.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  //font-family: 'Times New Roman', Times, serif;
  //font-family: Georgia, serif;
  //font-family: Garamond, serif;
  //font-family: Arial, Helvetica, sans-serif;
  //font-family: Helvetica, sans-serif;
  //font-family: Verdana, Geneva, sans-serif;
  //font-family: Tahoma, Geneva, sans-serif;
  //font-family: 'Trebuchet MS', Helvetica, sans-serif;
  //font-family: 'Courier New', Courier, monospace;
  //font-family: 'Lucida Console', Monaco, monospace;
  //font-family: Consolas, monospace;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  //font-family: Impact, Charcoal, sans-serif;
}

/* styles.scss */
button.mat-raised-button {
  //font-family: 'Times New Roman', Times, serif;
  //font-family: Georgia, serif;
  //font-family: Garamond, serif;
  //font-family: Arial, Helvetica, sans-serif;
  //font-family: Helvetica, sans-serif;
  //font-family: Verdana, Geneva, sans-serif;
  //font-family: Tahoma, Geneva, sans-serif;
  //font-family: 'Trebuchet MS', Helvetica, sans-serif;
  //font-family: 'Courier New', Courier, monospace;
  //font-family: 'Lucida Console', Monaco, monospace;
  //font-family: Consolas, monospace;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  //font-family: Impact, Charcoal, sans-serif;
}

button.mat-raised-button {
  padding: 8px 16px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
  border-radius: 4px; /* Rounded corners */
}

button.mat-raised-button[color='warn'] {
  background-color: #f44336; /* Red background for cancel button */
  color: white; /* White text */
}

button.mat-raised-button[color='primary'] {
  background-color: #3f51b5; /* Blue background for save button */
  color: white; /* White text */
}
