<div class="calendar-container">
  <app-sidebar></app-sidebar>
  <div class="month-year">
    <span (click)="moveMonth(-1)" class="arrow">&#10094;</span>
    <span id="monthText">{{ currentMonth.format('MMMM YYYY') }}</span>
    <span (click)="moveMonth(1)" class="arrow">&#10095;</span>
  </div>
  <div id="calendar" class="calendar">
    <table>
      <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
      <tr *ngFor="let week of calendar">
        <td *ngFor="let day of week" [ngClass]="getDayClasses(day)">
          {{ day.format('D') }}
        </td>
      </tr>
    </table>
  </div>
</div>
