<div class="news-container">
  <app-news-archive-sidebar [archive]="archive" (archiveCleared)="handleArchiveCleared()" (articleSelected)="selectArticle($event)"></app-news-archive-sidebar>
  <app-sidebar [sidebarVisible]="sidebarVisible" (sidebarVisibilityChange)="toggleSidebarVisibility($event)"></app-sidebar>

  <div class="content-container" [ngClass]="{'sidebar-closed': !sidebarVisible}">
    <app-language-switcher></app-language-switcher>

    <h1>{{ 'NEWS' | translate }}</h1>

    <form class="add-article-form" (ngSubmit)="addOrUpdateArticle()" [formGroup]="articleForm">
      <label for="title">{{ 'TITLE' | translate }}:</label>
      <input matInput type="text" id="title" formControlName="title"><br><br>
      <label for="content">{{ 'CONTENT' | translate }}:</label>
      <app-quill-editor formControlName="content" [ngModel]="articleForm.get('content')?.value"></app-quill-editor>
      <button mat-raised-button color="primary" type="submit" *ngIf="!selectedArticle">{{ 'ADD_ARTICLE' | translate }}</button>
      <button mat-raised-button color="primary" type="button" *ngIf="selectedArticle" (click)="addOrUpdateArticle()">{{ 'UPDATE_ARTICLE' | translate }}</button>
    </form>
  </div>
</div>
